<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                2020 &copy; by <a href="">Antonio Falcetta</a>
            </div>
        </div>
    </div>
</footer>