{% if messages %}
    {% for message in messages %}
    <br>
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert"
                    aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    Error
                {% else %}
                    {{ message.tags|title }}
                {% endif %}
            </strong>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}