{% extends 'admin/base.html' %}

{% load static %}

{% block header %}
    {% block branding %}
    
        <h1 id="site-name"><a href="/admin/">Prjext</a></h1>
        <!--
        <img src="{% static 'img/logo.png' %}" alt="Prjext" heigth="50" 
        width="80" class="brand_img">
        -->        

    {% endblock %}
{% endblock %}


{% comment %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'admin/css/admin.css'%}">
{% endblock %} 
{% endcomment %}
