{% extends 'base.html' %}

{% load static %}

{% block title %}Contact Form{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="account-card-box">
            <div class="card mb-0">
                <div class="card-body p-4">
                    
                    <div class="text-center">
                        <div class="my-3">
                            <a href="{% url 'index' %}">
                                <span><img src="{% static 'images/logo.png' %}" alt="" height="100"></span>
                            </a>
                        </div>
                        <h5 class="text-muted text-uppercase py-3 font-16"><strong>{{ item.itemname }}</strong></h5>
                    </div>


                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                            </h4>
                            <h5>$ {{ item.price }}</h5>
                            <p class="card-text">{{ item.description }}</p>
                        </div>

                        


                    <form method="POST" action="{% url 'index' %}" class="mt-2">

                        {% csrf_token %}

                        
                        <div class="form-group mb-3">
                            <input class="form-control" type="text" name="email" required="" placeholder="Email">
                        </div>

                        {{ form.as_p }}

                        <input type="hidden" name="itemname" value="{{ item.itemname }}">


                        {% comment %} <div class="form-group mb-3">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkbox-signin" checked>
                                <label class="custom-control-label" for="checkbox-signin">Remember me</label>
                            </div>
                        </div> {% endcomment %}

                        <div class="form-group text-center">
                            <button class="btn btn-success btn-block waves-effect waves-light" type="submit"> Ottieni sconto </button>
                        </div>

                        {% comment %} <a href="#" class="text-muted"><i class="mdi mdi-lock mr-1"></i> Forgot your password?</a> {% endcomment %}

                    </form>

                </div> <!-- end card-body -->
            </div>
            <!-- end card -->
        </div>

        <div class="row mt-3">
            <div class="col-12 text-center">
                <p class="text-white-50">Vuori ricevere più sconto? <a href="#" class="text-white ml-1"><b>Presenta un amico</b></a></p>
            </div> <!-- end col -->
        </div>
        <!-- end row -->

    </div> <!-- end col -->
</div>
<!-- end row -->
{% endblock %}