{% extends 'base.html' %}

{% load static %}

{% block title %}Contact Form{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="account-card-box">
            <div class="card mb-0">
                <div class="card-body p-4">
                    
                    <div class="text-center">
                        <div class="my-3">
                            <a href="{% url 'index' %}">
                                <span><img src="{% static 'images/logo.png' %}" alt="" height="100"></span>
                            </a>
                        </div>
                        <h5 class="text-muted text-uppercase py-3 font-16">Lista Articoli</h5>
                    </div>

                        {% for item in items %}
                            <a href="{% url 'item_detail' item.id %}"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                <a href="{% url 'item_detail' item.id %}">{{ item.itemname }}</a>
                                </h4>
                                <h5>$ {{ item.price }}</h5>
                                <p class="card-text">{{ item.description }}</p>
                            </div>
                            {% comment %} <div class="card-footer">
                                <small class="text-muted">★ ★ ★ ★ ☆</small>
                            </div> {% endcomment %}
                        {% endfor %}
                        

                </div> <!-- end card-body -->
            </div>
            <!-- end card -->
        </div>

        <div class="row mt-3">
            <div class="col-12 text-center">
                <p class="text-white-50">Vuori ricevere più coupon? <a href="#" class="text-white ml-1"><b>Presenta un amico</b></a></p>
            </div> <!-- end col -->
        </div>
        <!-- end row -->

    </div> <!-- end col -->
</div>
<!-- end row -->
{% endblock %}