{% extends 'base.html' %}

{% load static %}

{% block title %}Contact Form{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="account-card-box">
            <div class="card mb-0">
                <div class="card-body p-4">
                    
                    <div class="text-center">
                        <div class="my-3">
                            <a href="{% url 'index' %}">
                                <span><img src="{% static 'images/logo.png' %}" alt="" height="100"></span>
                            </a>
                        </div>
                    </div>

                        <div class="form-group text-center">
                            <a href="{% url 'search_cam' %}" class="btn btn-info btn-block waves-effect waves-light">Scansiona coupon</a>
                        </div>

                    </form>

                </div> <!-- end card-body -->
            </div>
            <!-- end card -->
        </div>

        <div class="row mt-3">
            <div class="col-12 text-center">
                <p class="text-white-50">Non hai un coupon? <a href="{% url 'index' %}" class="text-white ml-1"><b>Ottienilo qui</b></a></p>
            </div> <!-- end col -->
        </div>
        <!-- end row -->        

    </div> <!-- end col -->
</div>
<!-- end row -->
{% endblock %}